#side-bar .side-bar-name {
    font-weight: 800;
    font-size: 30pt;
    line-height: 85%;
}

#side-bar .side-bar-pt {
    padding-top: 10px;
    font-size: 24pt;
}

#side-bar .side-bar-pt .text {
    padding-left: 8px;
}
